<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4 text-center">
                    <div class="card-title">
                        <h4>
                            Yönetici Girişi
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="/user/login" method="post">
                            <div class="row mb-4">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="email" autocomplete="off" required>
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" placeholder="Şifre" name="password" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <button class="btn btn-secondary btn-sm">
                                        Giriş Yap
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>